/* ---- CSS reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

/* ---- layout ---- */

html,
body {
  height: 120vh;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px; /* Resizes the container to 728px for large screens */
    margin: auto auto;
  }
}

/* ---- components ---- */
canvas {
  width: 100vw;
  height: 93vh;
  border: 1px solid red;
  display: flex;
  background: url("../Images/colorful-forest-game-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#game {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
}

/* #game header {
  height: 50px;
  display: flex;
  align-items: center;
}  */

.type {
  font-weight: bold;
  font-size: 2em;
}

#game .value {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
}
/* 
#game {
  width: auto;
  height: auto;
} */

#game .canvasContainer {
  flex: 1;
}

h1 {
  font-family: Chalkduster, fantasy;
  font-size: 10vh;
  color: green;
  text-align: center;
  padding: 100px 100px 200px 100px;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.splash::after {
  content: "";
  background: url(../Images/colorful-forest-game-background.png);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.startBtn {
  font-family: American Typewriter, serif;
  background-color: rgb(73, 162, 160);
  font-size: 3vh;
  font-weight: 600;
  border: darkcyan 5px solid;
  box-shadow: rgb(53, 145, 139) 2px 5px;
  border-radius: 20px;
  width: 400px;
  margin: 0 35% 100px 42%;
  padding: 10px 0px 10px 0px;
}

.splash p {
  font-family: American Typewriter, serif;
  font-size: 1.5em;
  color: #946a77;
  background-color: #41b3a3;
  border: rgb(168, 222, 218) 3px solid;
  margin: 0 25% 0 25%;
  padding: 5%;
}

.score .value {
  color: black;
}
