/* ---- CSS reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}



p {
  margin: 0;
}


html,
body {
  height: 120vh;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px; 
    margin: auto auto;
  }
}

audio { 
  display:none;}

canvas {
  width: 100vw;
  height: 96vh;
  border: 2px solid rgb(81, 143, 123);
  display: flex;
  background-image: url("../Images/Background/gameBackground.png");
  background-repeat: repeat;
  background-size: auto 100%;
}

.canvasContainer {
  width: 100vw;
  height: 94vh;
}

#game {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0px;
  justify-content: center;
  background-color: rgb(147, 211, 211);
}

.type {
  font-weight: bold;
  font-size: 2em;
}

#game .value {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
}

#game .canvasContainer {
  flex: 1;
}

h1 {
  font-family: Chalkduster, fantasy;
  font-size: 10vh;
  color: darkcyan;
  text-align: center;
  padding: 80px 100px 100px 100px;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-size: 100%;
}

.splash::after {
  content: "";
  background: url("../Images/Background/gameBackground.png");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.startBtn {
  font-family: American Typewriter, serif;
  background-color: rgb(73, 162, 160);
  color: #05386b;
  font-size: 3.4vh;
  font-weight: 600;
  border: darkcyan 5px solid;
  box-shadow: rgb(53, 145, 139) 2px 5px;
  border-radius: 20px;
  width: 400px;
  margin: 0 25% 100px 35%;
  padding: 10px 0px 10px 0px;
}

.splash p {
  font-family: American Typewriter, serif;
  font-size: 1.5em;
  color: #946a77;
  background-color: #41b3a3;
  border: rgb(168, 222, 218) 3px solid;
  margin: 0 25% 0 25%;
  padding: 3%;
  border: darkcyan 5px solid;
  box-shadow: rgb(53, 145, 139) 2px 5px;
  border-radius: 20px;
}

.splash span {
  color: #05386b;
  font-weight: 500;
}

.gameOverScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-size: 100%;
}

.gameOverScreen::after {
  content: "";
  background: url("../Images/Background/gameBackground.png");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.gameOverScreen img {
  width: 40%;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  opacity: 0.8;
}

.gameOverScreen .restartBtnLoose {
  font-family: American Typewriter, serif;
  background-color: rgb(73, 162, 160);
  color: #05386b;
  font-size: 3.4vh;
  font-weight: 600;
  border: darkcyan 5px solid;
  box-shadow: rgb(53, 145, 139) 2px 5px;
  border-radius: 20px;
  width: 400px;
  margin: 50px 25% 400px 35%;
  padding: 10px 0px 10px 0px;
}

.gameOverScreen span {
  color: #946a77;
}

.winScreen img {
  width: 40%;
  height: 170px;
  display: block;
  margin-left: auto;
  margin-top: 150px;
  margin-right: auto;
  opacity: 0.9;
  border-radius: 15px;
}

.winScreen #restartWinBtn {
  font-family: American Typewriter, serif;
  background-color: rgb(73, 162, 160);
  color: #05386b;
  font-size: 3.4vh;
  font-weight: 600;
  border: darkcyan 5px solid;
  box-shadow: rgb(53, 145, 139) 2px 5px;
  border-radius: 20px;
  width: 400px;
  margin: 150px 25% 400px 35%;
  padding: 10px 0px 10px 0px;
}

.winScreen span {
  color: #946a77;
}

.winScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-size: 100%;
}

.winScreen::after {
  content: "";
  background: url("../Images/Background/gameBackground.png");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.score .value {
  color: #946a77;
  font-size: 1.8em;
  font-family: American Typewriter, serif;
  font-weight: 400;
}

.score .type {
  color: #05386b;
  font-size: 2em;
  font-family: American Typewriter, serif;
  font-weight: 500;
}

.timer .typeTimer {
  color: #946a77;
  font-size: 2em;
  font-family: American Typewriter, serif;
  font-weight: 500;
}

.timer .valueTimer {
  color: #946a77;
  font-size: 1.8em;
  font-family: American Typewriter, serif;
  font-weight: 400;
}
